.about {
    flex: 3;
    background-color: #fdfbfb;
    padding: 20px;
    height: fit-content;
    border-radius: 10px;
}

.about-section {
    display: flex;
    flex-direction: column;
    align-items: center;  
}

.about_title {
    margin-top: 20px;
    padding: 10px 0;
    width: 100%;
    text-align: center;
    text-transform: uppercase;  
    font-family: 'Varela Round', sans-serif;
    border-top: 1px solid #a7a4a4;
    border-bottom: 1px solid #a7a4a4;
    font-size: 22px;
    color: #222;
}

.about_img {
    margin-top: 20px;
    border-radius: 4px;
    width: 80%;
    object-fit: cover;
}

.about_desc {
    margin-top: 20px;
    line-height: 1.6;
    text-align: justify ;
}

.list {
    margin-top: 20px;
}

.list_item {
    display: inline-block;
    width: 50%;
    text-align: center;
    padding: 8px 12px;
}

.about_social {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 4px;
    margin-top: 20px;
}

.about_social>a>i {
    color: #444;
    font-size: 24px;
    padding: 10px;
}

@media screen and (max-width: 768px) {
    .about {
        display: none;
    }
}